<!DOCTYPE html>
<div class="display-6" my-3>Access Survey Results</div>
    <form method="post" action="GetSurveyResults">
    <div class="form-group my-3">
        <label for="surveyLink">Survey Link:</label>
        <input type="text" id="surveyLink" name="surveyLink" required style="width: 600px">
        </div>
        <br>
    <div class="form-group my-1">
        <input type="submit" class="btn btn-primary" value="Go to Survey Results">
        </div>
    </form>