@model ScoreDTO
<!DOCTYPE html>
<html>
<head>
    <title>Survey Result</title>
</head>
<body>
    <h1>Survey Result</h1>
    <p>Name: @Model.Name</p>
    <p>Surname: @Model.Surname</p>
    <p>Correct Answer: @Model.NumberOfCorrectAnswer</p>
</body>
</html>


