<div class="text-center text-danger my-5">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <h3 class="display-3">
        <i class="fa fa-solid fa-bug-slash"></i>
        <br />
        Access Denied
    </h3>
</div>
<div class="text-center">
    <div class="lead">
        You have no permission to access this page. Please get in touch with system administrator.
    </div>
</div>