<style>
    .custom-button {
        width: 50%;
        height: 5em; 
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<div class="form-group text-center my-3">
    <div class="btn-group d-flex flex-column align-items-center">
        <a href="Survey/SurveyQuestions" class="btn btn-outline-success custom-button"> Create Survey</a>
        <a asp-controller="account"  asp-action="Login" class="btn btn-outline-success custom-button"> Login</a>
        <a asp-controller="account"  asp-action="Register" class="btn btn-outline-success custom-button"> Register</a>
    </div>
</div>