<style>
    .custom-button {
        width: 50%;
        height: 5em; 
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<div class="form-group my-3">
    <div class="btn-group d-flex flex-column">
        <a href="Survey" class="btn btn-outline-success custom-button"><i class="fa fa-list"></i> Create Survey</a>
        <a asp-controller="account"  asp-action="Login" class="btn btn-outline-success custom-button"><i class="fa fa-list"></i> Login</a>
        <a asp-controller="account"  asp-action="Register" class="btn btn-outline-success custom-button"><i class="fa fa-list"></i> Register</a>
    </div>
</div>